.App {
  text-align: center;
}

.img {
  width: 100px;
  height: 100px;
}

.app__form {
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  /* margin: 20px; */
}

.app__FormControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
